/*Paleta de colores
#D9216F Rosa
#AF56DC 
#04A4D3
#7CE3E5
#c6bec1
#dad9d7 fondo de servicios
*/
/*Inicialización de página*/
*{
    margin:0;
    padding: 0;
    box-sizing: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
}
body{
    background-color: black;
    width: 100%;
    
}
/*Cabecera fija por toda la página*/
header{
    position: fixed;
    width: 100vw;
    z-index: 100;
}
.titulo{
    display: flex;
    background-color:  black;
    width: 98.9vw;
    
}
.cabecera{
    background-color: black;
    height: 15vh;
    display: flex;
    width: 50vw;
    justify-content: space-between;
    align-items: center;
    color: white;
    
}
.imagen{
    width: 20vw;
}
.nav{
    padding: 3vh;
    align-items: center;
    font-size: 1.3vw;
    font-weight:bold;
    margin-left: 5vw;
    margin-top: 5vh;
}
.nav:hover{
    background-color: #7CE3E5;
    border-radius: 20px;
}
.logo{
    width: 20vw;
    margin-top: 10px;
    border-radius: 20%;
}
#myvideo{
    position:center;
   
}
.videopresentacion{
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3a3a3a;
    padding: 2vw;
}
video{
    width: 50vw;
    border-radius: 20px;
    margin-top: 15vh;
}
.eslogan{
    color: white;
    text-align: center;
    width: 50vw;
    margin-top: 15vh;
}
.textoeslogan{
    font-size: 2.5vw;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
}
.textoeslogan2{
    font-size: 4vw;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
    color:#7CE3E5;
}
/*Información con efectos especiales*/
.informacion{
    height: 45vh;
    padding-top: 5vh;
    background-image: linear-gradient(#3a3a3a, #dad9d7);
    display: flex;
    justify-content: space-around;
}
.artinfo1{
    width:30vw;
    background-color: #7CE3E5;
    background-image: url(../images/catalogoinfo.jpg);
    background-position: center;
    background-size: cover;
    transition: 0.2s;
    box-shadow: 3px 3px 3px grey;
}
.artinfo2{
    width:30vw;
    background-color: #7CE3E5;
    background-image: url(../images/solucionesinfo.jpg);
    background-position: center;
    background-size: cover;
    transition: 0.2s;
    box-shadow: 3px 3px 3px grey;
}
.artinfo3{
    width: 30vw;
    background-color: #7CE3E5;
    background-image: url(../images/pagafacturas.jpg);
    background-position: center;
    background-size: cover;
    transition: 0.2s;
    box-shadow: 3px 3px 3px grey;
}
.titulosinfo{
    padding-top: 20px;
    margin-top: 40%;
    background-color:#dad9d7;
    font-size: 1.2vw;
}
.negrita{
    font-weight: 1000;
}

.artinfo1:hover{
    transform: scale(0.9);
}
.artinfo2:hover{
    transform: scale(0.9);
}
.artinfo3:hover{
    transform: scale(0.9);
}
/*Servicios que se dividen en filas con una transición especial en los artículos*/

.servicios{
    background-color: #dad9d7;
    height: 213vh;
}
.tituloservicio{
    text-align: center;
    font-size: 2.5vw;
    padding-top: 6vh;
    color: #D9216F;
    padding-top: 10vh;
    
}
.filaserv1{
    height: 40vh;
    display: flex;
    justify-content: space-around;
    margin-top: 10vh;
    font-size: 1.4vw;
    
}

.articulos1fila1{
    width: 20vw;
    background-image: url(../images/folletos.webp);
    background-position: center;
    background-size: cover;
    transition: 0.2s;
    box-shadow: 3px 3px 3px grey;
    
    
}
.articulos2fila1{
    width: 20vw;
    background-image: url(../images/tarjeta.jpg);
    background-size: cover;
    background-position: center;
    transition: 0.2s;
    box-shadow: 3px 3px 3px grey;
}
.articulos3fila1{
    width: 20vw;
    background-image: url(../images/etiquetas.jpeg);
    background-size: cover;
    background-position: center;
    transition: 0.2s;
    box-shadow: 3px 3px 3px grey;
}
.articulos4fila1{
    width: 20vw;
    background-image: url(../images/carteles.jpg);
    background-size: cover;
    background-position: center;
    transition: 0.2s;
    box-shadow: 3px 3px 3px grey;

}
.filaserv2{
    height: 40vh;
    display: flex;
    justify-content: space-around;
    margin-top: 10vh;
    font-size: 1.4vw;
}
.articulos1fila2{
    width: 20vw;
    background-image: url(../images/cartuchera.jpeg);
    background-size: cover;
    background-position: center;
    transition: 0.2s;
    box-shadow: 3px 3px 3px grey;
}
.articulos2fila2{
    width: 20vw;
    background-image: url(../images/resaltadores.jpeg);
    background-size: cover;
    background-position: center;
    transition: 0.2s;
    box-shadow: 3px 3px 3px grey;
}
.articulos3fila2{
    width: 20vw;
    background-image: url(../images/lapices.jpeg);
    background-size: cover;
    background-position: center;
    transition: 0.2s;
    box-shadow: 3px 3px 3px grey;
}
.articulos4fila2{
    width: 20vw;
    background-image: url(../images/matOficina.jpeg);
    background-size: cover;
    background-position: center;
    transition: 0.2s;
    box-shadow: 3px 3px 3px grey;
}
.filaserv3{
    height: 40vh;
    display: flex;
    justify-content: space-around;
    margin-top: 10vh;
    font-size: 1.4vw;
}
.articulos1fila3{
    width: 20vw;
    background-image: url(../images/oficina.jpeg);
    background-size: cover;
    background-position: center;
    transition: 0.2s;
    box-shadow: 3px 3px 3px grey;
}
.articulos2fila3{
    width: 20vw;
    background-image: url(../images/sobres.jpeg);
    background-size: cover;
    background-position: center;
    transition: 0.2s;
    box-shadow: 3px 3px 3px grey;
}
.articulos3fila3{
    width: 20vw;
    background-image: url(../images/factura.jpeg);
    background-size: cover;
    background-position: center;
    transition: 0.2s;
    box-shadow: 3px 3px 3px grey;
}
.articulos4fila3{
    width: 20vw;
    background-image: url(../images/sellos.jpeg);
    background-size: cover;
    background-position: center;
    transition: 0.2s;
    box-shadow: 3px 3px 3px grey;
}
.filaserv4{
    height: 40vh;
    display: flex;
    justify-content: space-around;
    margin-top: 10vh;
    font-size: 1.4vw;
}
.articulos1fila4{
    width: 20vw;
    background-image: url(../images/embalaje.jpeg);
    background-size: cover;
    background-position: center;
    transition: 0.2s;
    box-shadow: 3px 3px 3px grey;
}
.articulos2fila4{
    width: 20vw;
    background-image: url(../images/bolsa.jpeg);
    background-size: cover;
    background-position: center;
    transition: 0.2s;
    box-shadow: 3px 3px 3px grey;
}
.articulos3fila4{
    width: 20vw;
    background-image: url(../images/sobreProct.jpeg);
    background-size: cover;
    background-position: center;
    transition: 0.2s;
    box-shadow: 3px 3px 3px grey;
}
.articulos4fila4{
    width: 20vw;
    background-image: url(../images/redesSociales.png);
    background-size: cover;
    background-position: center;
    transition: 0.2s;
    box-shadow: 3px 3px 3px grey;

}
.tituloarticulos{
    padding: 10px;
    margin-top: 80%;
    background-color:#7CE3E5;
    opacity: 70%;
}

/*Hover para cambiar la escala */
.articulos1fila1:hover{
    transform: scale(1.1);
}
.articulos2fila1:hover{
    transform: scale(1.1);
}
.articulos3fila1:hover{
    transform: scale(1.1);
}
.articulos4fila1:hover{
    transform: scale(1.1);
}
.articulos1fila2:hover{
    transform: scale(1.1);
}
.articulos2fila2:hover{
    transform: scale(1.1);
}
.articulos3fila2:hover{
    transform: scale(1.1);
}
.articulos4fila2:hover{
    transform: scale(1.1);
}
.articulos1fila3:hover{
    transform: scale(1.1);
}
.articulos2fila3:hover{
    transform: scale(1.1);
}
.articulos3fila3:hover{
    transform: scale(1.1);
}
.articulos4fila3:hover{
    transform: scale(1.1);
}
.articulos1fila4:hover{
    transform: scale(1.1);
}
.articulos2fila4:hover{
    transform: scale(1.1);
}
.articulos3fila4:hover{
    transform: scale(1.1);
}
.articulos4fila4:hover{
    transform: scale(1.1);
}
/*Empresa*/
.introduccion{
    height: 80vh;
    display: flex;
    background-image: url(../images/introduccionFondo2.jpg);
    background-position: center;
    background-size: cover;
}

.empresa{
    height: 80vh;
    width: 45vw;
    margin-top: 15vh;
    text-align: justify;
}
.partizqintroduccion{
    width: 50vw;
}
.pintroduccion{
    text-align: center;
    font-size: 2.5vw;
    color:#D9216F;
    
}
.ptextointroduccion{
    margin-top: 6vh;
    font-size: 1.3vw;
}
.partderintroduccion{
    width: 20vw;
}

/*Contactos*/

.contactos{
    background-color:black;
    height: 40vh;
    width: 100%;
    font-family: "League Spartan", sans-serif;
    color: white;
    display: flex;
}
.logocontacto{
    width: 30vh;
}
.titulocontacto{
    text-align: center;
    background-color: black;
    color: white;
    margin-top: 5vh;
}
.logogocopy{
    width: 15vw;
    border-radius: 20vw;
    margin-left: 20vw;
}
.textocontacto{
    width: 70vw;
    text-align: center;
    margin-top: 6vh;
    margin-left: 45vw;
    
}
.articonos{
    display: flex;
}
.iconos{
    width: 2vw;
}

/*Links*/

a:link {
    background-color: transparent;
    text-decoration: none;
    color: white;
    
  }
  a:visited {
    background-color: transparent;
    text-decoration: none;
    color: white;
    
  }
  
  a:hover {
    background-color: transparent;
    text-decoration: underline;
    color: white;
    
  }
  
  a:active {
    background-color: transparent;
    text-decoration: underline;
    color: white;
  }

  /*Responsive para teléfono*/

  @media screen AND (max-width: 768px){
    body{
        background-color: black;
        width: 100%;
    }
    header{
        position:static;
        width: 100%;
    }
    .titulo{
        display: flex;
        background-color:  black;
        width: 100%;
        
    }
    .cabecera{
        background-color: black;
        height: 25vh;
        display: block;
        width: 50vw;
        justify-content: space-between;
        align-items: center;
        color: white;
        
    }
    .imagen{
        width: 50vw;
    }
    .nav{
        padding: 1.1vh;
        align-items: center;
        font-size: 3vw;
        font-weight:bold;
        margin-top: 0vh;
    }
    .nav:hover{
        background-color: #7CE3E5;
        border-radius: 20px;
    }
    .logo{
        width: 30vw;
        margin-top: 5vh;
        border-radius: 300px;
        padding: 3vw;
    }
    #myvideo{
        position:center;
       
    }
    .videopresentacion{
        height: 60vh;
        display: block;
        justify-content: center;
        align-items: center;
        background-color: #3a3a3a;
        padding: 2vw;
    }
    video{
        width: 90vw;
        border-radius: 20px;
        margin-top: 5vh;
    }
    .eslogan{
        color: white;
        text-align: center;
        width: 100%;
        margin-top: 5vh;
    }
    .textoeslogan{
        font-size: 5vw;
        font-weight: bold;
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-style: italic;
    }
    .textoeslogan2{
        font-size: 8vw;
        font-weight: bold;
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-style: italic;
        color:#7CE3E5;
    }
    /*Información*/
    .informacion{
        height: 135vh;
        padding-top: 0.1vh;
        background-image: linear-gradient(#3a3a3a, #dad9d7);
        display: block;
        justify-content: center;
        
    }
    .artinfo1{
        width:70vw;
        height: 40vh;
        background-color: #7CE3E5;
        background-image: url(../images/catalogoinfo.jpg);
        background-position: center;
        background-size: cover;
        transition: 0.2s;
        box-shadow: 3px 3px 3px grey;
        margin-left: 15%;
    }
    .artinfo2{
        width:70vw;
        height: 40vh;
        background-color: #7CE3E5;
        background-image: url(../images/solucionesinfo.jpg);
        background-position: center;
        background-size: cover;
        transition: 0.2s;
        box-shadow: 3px 3px 3px grey;
        margin-left: 15%;
    }
    .artinfo3{
        width:70vw;
        height: 40vh;
        background-color: #7CE3E5;
        background-image: url(../images/pagafacturas.jpg);
        background-position: center;
        background-size: cover;
        transition: 0.2s;
        box-shadow: 3px 3px 3px grey;
        margin-left: 15%;
    }
    .titulosinfo{
        padding-top: 20px;
        margin-top: 10%;
        background-color:#dad9d7;
        font-size: 3vw;
    }
    .negrita{
        font-weight: 1000;
    }
    
    .artinfo1:hover{
        transform: scale(0.9);
    }
    .artinfo2:hover{
        transform: scale(0.9);
    }
    .artinfo3:hover{
        transform: scale(0.9);
    }
    /*Servicios*/
    
    .servicios{
        background-color: #dad9d7;
        height: 915vh;
    }
    .tituloservicio{
        text-align: center;
        font-size: 7vw;
        padding-top: 6vh;
        color: #D9216F;
        padding-top: 10vh;
        
    }
    .filaserv1{
        height: 40vh;
        display: block;
        justify-content: space-around;
        margin-top: 10vh;
        font-size: 3vw;
        padding-left: 8%;
        
    }
    
    .articulos1fila1{
        width: 80vw;
        height: 50vh;
        background-image: url(../images/folletos.webp);
        background-position: center;
        background-size: cover;
        transition: 0.2s;
        box-shadow: 3px 3px 3px grey;
        
        
    }
    .articulos2fila1{
        width: 80vw;
        height: 50vh;
        background-image: url(../images/tarjeta.jpg);
        background-size: cover;
        background-position: center;
        transition: 0.2s;
        box-shadow: 3px 3px 3px grey;
    }
    .articulos3fila1{
        width: 80vw;
        height: 50vh;
        background-image: url(../images/etiquetas.jpeg);
        background-size: cover;
        background-position: center;
        transition: 0.2s;
        box-shadow: 3px 3px 3px grey;
    }
    .articulos4fila1{
        width: 80vw;
        height: 50vh;
        background-image: url(../images/carteles.jpg);
        background-size: cover;
        background-position: center;
        transition: 0.2s;
        box-shadow: 3px 3px 3px grey;
    
    }
    .filaserv2{
        height: 40vh;
        display: block;
        justify-content: space-around;
        margin-top: 182vh;
        font-size: 3vw;
        padding-left: 8%;
    }
    .articulos1fila2{
        width: 80vw;
        height: 50vh;
        background-image: url(../images/cartuchera.jpeg);
        background-size: cover;
        background-position: center;
        transition: 0.2s;
        box-shadow: 3px 3px 3px grey;
    }
    .articulos2fila2{
        width: 80vw;
        height: 50vh;
        background-image: url(../images/resaltadores.jpeg);
        background-size: cover;
        background-position: center;
        transition: 0.2s;
        box-shadow: 3px 3px 3px grey;
    }
    .articulos3fila2{
        width: 80vw;
        height: 50vh;
        background-image: url(../images/lapices.jpeg);
        background-size: cover;
        background-position: center;
        transition: 0.2s;
        box-shadow: 3px 3px 3px grey;
    }
    .articulos4fila2{
        width: 80vw;
        height: 50vh;
        background-image: url(../images/matOficina.jpeg);
        background-size: cover;
        background-position: center;
        transition: 0.2s;
        box-shadow: 3px 3px 3px grey;
    }
    .filaserv3{
        height: 40vh;
        display: block;
        justify-content: space-around;
        margin-top: 182vh;
        font-size: 3vw;
        padding-left: 8%;
    }
    .articulos1fila3{
        width: 80vw;
        height: 50vh;
        background-image: url(../images/oficina.jpeg);
        background-size: cover;
        background-position: center;
        transition: 0.2s;
        box-shadow: 3px 3px 3px grey;
    }
    .articulos2fila3{
        width: 80vw;
        height: 50vh;
        background-image: url(../images/sobres.jpeg);
        background-size: cover;
        background-position: center;
        transition: 0.2s;
        box-shadow: 3px 3px 3px grey;
    }
    .articulos3fila3{
        width: 80vw;
        height: 50vh;
        background-image: url(../images/factura.jpeg);
        background-size: cover;
        background-position: center;
        transition: 0.2s;
        box-shadow: 3px 3px 3px grey;
    }
    .articulos4fila3{
        width: 80vw;
        height: 50vh;
        background-image: url(../images/sellos.jpeg);
        background-size: cover;
        background-position: center;
        transition: 0.2s;
        box-shadow: 3px 3px 3px grey;
    }
    .filaserv4{
        height: 40vh;
        display: block;
        justify-content: space-around;
        margin-top: 182vh;
        font-size: 3vw;
        padding-left: 8%;
    }
    .articulos1fila4{
        width: 80vw;
        height: 50vh;
        background-image: url(../images/embalaje.jpeg);
        background-size: cover;
        background-position: center;
        transition: 0.2s;
        box-shadow: 3px 3px 3px grey;
    }
    .articulos2fila4{
        width: 80vw;
        height: 50vh;
        background-image: url(../images/bolsa.jpeg);
        background-size: cover;
        background-position: center;
        transition: 0.2s;
        box-shadow: 3px 3px 3px grey;
    }
    .articulos3fila4{
        width: 80vw;
        height: 50vh;
        background-image: url(../images/sobreProct.jpeg);
        background-size: cover;
        background-position: center;
        transition: 0.2s;
        box-shadow: 3px 3px 3px grey;
    }
    .articulos4fila4{
        width: 80vw;
        height: 50vh;
        background-image: url(../images/redesSociales.png);
        background-size: cover;
        background-position: center;
        transition: 0.2s;
        box-shadow: 3px 3px 3px grey;
    
    }
    .tituloarticulos{
        padding: 10px;
        margin-top: 10%;
        background-color:#7CE3E5;
        opacity: 70%;
    }
    
    
    .articulos1fila1:hover{
        transform: scale(1.1);
    }
    .articulos2fila1:hover{
        transform: scale(1.1);
    }
    .articulos3fila1:hover{
        transform: scale(1.1);
    }
    .articulos4fila1:hover{
        transform: scale(1.1);
    }
    .articulos1fila2:hover{
        transform: scale(1.1);
    }
    .articulos2fila2:hover{
        transform: scale(1.1);
    }
    .articulos3fila2:hover{
        transform: scale(1.1);
    }
    .articulos4fila2:hover{
        transform: scale(1.1);
    }
    .articulos1fila3:hover{
        transform: scale(1.1);
    }
    .articulos2fila3:hover{
        transform: scale(1.1);
    }
    .articulos3fila3:hover{
        transform: scale(1.1);
    }
    .articulos4fila3:hover{
        transform: scale(1.1);
    }
    .articulos1fila4:hover{
        transform: scale(1.1);
    }
    .articulos2fila4:hover{
        transform: scale(1.1);
    }
    .articulos3fila4:hover{
        transform: scale(1.1);
    }
    .articulos4fila4:hover{
        transform: scale(1.1);
    }
    /*Empresa*/
    .introduccion{
        height: 80vh;
        display: flex;
        background-image: url(../images/introduccionFondo2.jpg);
        background-position: center;
        background-size: cover;
    }
    
    .empresa{
        height: 80vh;
        width: 100%;
        margin-top: 15vh;
        text-align: justify;
    }
    .partizqintroduccion{
        width: 10%;
    }
    .pintroduccion{
        text-align:center;
        font-size: 7vw;
        color:#D9216F;
        margin-left: 0%;
        
    }
    .ptextointroduccion{
        margin-top: 6vh;
        font-size: 2.6vw;
        width: 80%;
        margin-left: 10%;
    }
    .partderintroduccion{
        width: 10%;
    }
    
    /*Contactos*/
    
    .contactos{
        background-color:black;
        height: 30vh;
        font-family: "League Spartan", sans-serif;
        color: white;
        display: flex;
        
    }
    .logocontacto{
        width: 2vh;
        
    }
    .titulocontacto{
        text-align: center;
        background-color: black;
        color: white;
    }
    .logogocopy{
        width: 25vw;
        border-radius: 20vw;
        margin-top: 7vh;
    }
    .textocontacto{
        text-align: center;
        margin-top: 6vh;
        font-size: 2.5vw;
    }
    .articonos{
        display: flex;
        margin-top: 1vh;
        
    }
    .iconos{
        width: 5vw;
        margin-right: 2vw;
        
    }
  }